[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
ipython = "*"
twine = "*"
pytest-runner = "*"
"flake8" = "*"
pytest-cov = "*"
sphinx = "*"
codecov = "*"
recommonmark = "*"
commonmark = "*"

[requires]
python_version = "3.6"
