[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
deprecated = "*"
pyyaml = "*"
click = "*"
pillow = "*"
beautifulsoup4 = "*"
lxml = "*"
watchdog = "*"

[dev-packages]
pytest = "*"
ipython = "*"
twine = "*"
pytest-runner = "*"
"flake8" = "*"
pytest-cov = "*"
sphinx = "*"
codecov = "*"
recommonmark = "*"
commonmark = "*"
pytest-icdiff = "*"
coveralls = "*"
python-coveralls = "*"

[requires]
python_version = "3.6"
